.navbar {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: auto;
}
body {
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 25px 10px;
    text-decoration: none;
}
.navbar img {
    margin-left: 5px;
    width: 45px;
    height: 40px;
}
.navbar p {
    display: inline-block;
    float: left;
}

/* Style for the hero image */
.hero-image {
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    color: rgb(51, 51, 51);
    text-align: center;
    padding-top: 5px;
    margin-bottom: -5%;
}
.carousel-container {
    display: inline-flex;
    overflow: hidden;
    margin-inline-end: -20%;
    width: 100%; /* Adjust the carousel width as needed */
}

/* Styles for the carousel images */
.carousel-image {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.left-arrow {
    margin-top: 25%;
    left: 10px;
    display: inline-block;
}

.right-arrow {

    margin-top: 25%;
    right: 10px;
    display: inline-block;
}
/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}
.ws-table-all {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.ws-table-all th, .ws-table-all td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.ws-table-all th {
    background-color: #f2f2f2;
    color: #333;
}

.ws-table-all tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ws-table-all tbody tr:hover {
    background-color: #ddd;
}

.ws-table-all td.color-box {
    width: 20px;
    height: 20px;
    padding: 0;
}

/* Center text in the Number and Hex columns */
.ws-table-all td:nth-child(1),
.ws-table-all td:nth-child(2) {
    text-align: center;
}